/* === Color Pallette === */
/* --- Colors --- */
$peach: #fab387;
$surface2: #585b70;
$surface0: #313244;
$surface1: #45475a;
$red: #f38ba8;
$text: #cdd6f4;
$blue: #89b4fa;
$sapphire: #74c7ec;
$sky: #89dceb;
$base: #1e1e2e;
$maroon: #eba0ac;
$flamingo: #f2cdcd;
$yellow: #f9e2af;
$mantle: #181825;
$green: #a6e3a1;
$crust: #11111b;
$overlay1: #7f849c;
$overlay0: #6c7086;
$overlay2: #9399b2;
$lavender: #b4befe;
$rosewater: #f5e0dc;
$teal: #94e2d5;
$mauve: #cba6f7;
$pink: #f5c2e7;
$subtext0: #a6adc8;
$subtext1: #bac2de;

/* --- Aliases --- */
$foreground: #cdd6f4;
$accent: #cba6f7;
$background: #1e1e2e;