@import "./colors.scss";


* {
	all: unset
}

window {
	background-color: $base;
	border-radius: 30px;
}

// #region Date
$date: $red;
.date {
	font-family: "Source Han Serif CN", serif;
	font-weight: bolder;
	color: $date
}

.date > .dow {
	color: desaturate($color: $date, $amount: 50);
	font-style: italic;
	font-weight: normal;
	font-size: medium;
	margin: -10 0 -20 0px;
}
.date > .day {
	font-size: xx-large;
}
.date > .month {
	font-size: xx-large;
}
.date > .year {
	font-weight: normal;
	font-size: small;
	margin: -20 0 -10 0px;
	// tab-size: 10px;
}

// #endregion

// #region Date
$time: $peach;
@import "./sunset.scss";
.bg {
	border-radius: 30px;
	background-color: black;
	opacity: 0.7;
}
.time {
	color: $time;
	text-shadow: 1 3 4px black;
}
.time > .second {
	margin: 10px;
	color: rgba(#000, 10%)
}
.time > .main {
	font-family: monospace;
	font-size: 40pt;
}
.time > .main > .hour {
	margin-bottom: -25px;
}
.time > .main > .minute {
	margin-top: -25px;
}
// #endregion

// #region power buttons
.shutdown,
.logout,
.reboot,
.suspend {
	border-radius: 20px;
	color: $blue;
}
.shutdown {
	color: $maroon;
}
.logout {
	color: $green;
}
.reboot {
	color: $peach;
}
.suspend {
	color: $mauve;
}
// #endregion