@import "../colors.scss";
@import "../sunset.scss";


$time: $peach;
.bg {
	border-radius: 30px;
	background-color: black;
	opacity: 0.7;
}
.time {
	color: $time;
	text-shadow: 1 3 4px black;
}
.time > .second {
	margin: 10px;
	color: rgba(#000, 10%)
}
.time > .main {
	font-family: monospace;
	font-size: 40pt;
}
.time > .main > .hour {
	margin-bottom: -25px;
}
.time > .main > .minute {
	margin-top: -25px;
}