@import "../../colors.css";


.modules-right {
  padding: 0 5px;
}


/* ===Information Modules=== */
#cava
#pulseaudio,
#network,
#clock,
#custom-language,
#custom-school {
  padding: 0 5px;
}

#cava {
  font-family: 'Courier New', Courier, monospace;
  font-size: xx-small;
  color: @red;
}
#pulseaudio {
  color: @red;
}


#network {
  padding-left: 10px;
  color: @peach;
}

#clock.date {
  color: @green;
}
#clock.time {
  color: @blue;
}

#custom-language {
  color: @mauve;
}

#custom-school {
  color: @pink;
}


@keyframes blink {
  to {
    color: #000000;
  }
}

label:focus {
  background-color: #000000;
}
