@import "../../Colors.css";


.modules-right {
  padding: 0 5px;
}


/* ===Information Modules=== */
#cava
#pulseaudio,
#network,
#battery,
#clock,
#custom-language,
#custom-school {
  padding: 0 5px;
}

#cava {
  font-family: 'Courier New', Courier, monospace;
  font-size: xx-small;
  color: @red;
}
#pulseaudio {
  color: @red;
}


#network {
  padding-left: 10px;
  color: @peach;
}

#battery {
  color: @yellow;
}

#clock.date {
  color: @green;
}
#clock.time {
  color: @blue;
}

#custom-language {
  color: @mauve;
}

#custom-school {
  color: @pink;
}


@keyframes blink {
  to {
    color: #000000;
  }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
  background-color: #f53c3c;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

label:focus {
  background-color: #000000;
}
